
.one-post.folded .article-author{
    display: none;
}
.one-post.folded .article-created-date{
    display: none;
}

.one-post.folded .article-text{
    display: none;
}

a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#FFFFFF;
}

a:hover
{
    color:#FFFFFF;
}
body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;

.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}
.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.article-author {
    width: 50%;
    float: left;
}
.article-created-date {
    text-align: right;
}

.fold-button{
    font-family: Tahoma, Arial, sans-serif;
    background-color: transparent;
    border: none;
    color: white;
    float: right;
}

