<!DOCTYPE html>
<html>
    <head>
        <title>Django Public Blog - создать статью</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/articles.css">
    </head>
    <body>
        <div class="content" align="center">
            <h1>Написать статью</h1>
            <form method="POST">{% csrf_token %}
                <div><input style="width:800px;height:20px;" type="text" name="title" placeholder="Название статьи" value="{{ form.title }}"></div>
                <div><textarea style="width:800px;height:200px;" name="text" placeholder="Текст статьи">{{ form.text }}</textarea></div>
                <div><input style="width:100px;height:20px;" type="submit" value="Сохранить"></div>
            </form>
            {{ form.errors }}
        </div>
    </body>
</html>
