<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Архив статей</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/articles.css">
    <script src="{{ STATIC_URL }}/static/js/helloworld.js"></script>

</head>
{% load static %}
<body>
    <div class="header">
        {% if not request.user.is_authenticated %}
        <div>
            <a href="/register/">Зарегистрироваться</a>
            <a href="/authorize/">Войти</a>
        </div>
        {% else %}
        <div>
            <a href="/article/new/">Создать запись</a>
            <a href="/logout/">Выйти</a>
        </div>
        {% endif %}
        <img src="{% static 'img/logo.jpg' %}" />
    </div>
    <div class="archive">
        {% for post in posts %}
        <div class="one-post">
            <h2 class="post-title"><a href="article/{{ post.id }}">{{ post.title }}</a></h2>
            <button class="fold-button">Cвернуть</button>
            <div class="article-info">
                <p style="text-align:left;">
                    <b>{{ post.author.username }}</b>
                    <span style="float:right;">
                    <b>{{ post.created_date }}</b>
                    </span>
                </p>
            </div>
            <p class="article-text">{{ post.get_excerpt|truncatechars:15 }}</p>
        </div>
        {% endfor %}
    </div>
    <script src="{{ STATIC_URL }}/static/js/fold-post.js"></script>
</body>

</html>